html, body {
  height: 100%;
  background: black;
}

* {
  font-family: 'Bangers', cursive !important;
}

body {
  background-color: black;
  background-image: url('https://cdn.pixabay.com/photo/2016/10/22/01/54/wood-1759566_960_720.jpg');
  /* background-size: cover; */
}

.btn {
  background-color: #3F88C5;
  font-size: 18px;
}

.btn:hover {
  background-color: #3F88C5;
}

/* Page Rules */
.row {
  margin: 50px auto;
}

/* Modal */
.modal {
  width: 500px;
  margin: 0 auto;
}

.modal-content .row {
  margin: 0 auto;
}

/* Rule List */
.rules > ol {
  font-size: 26px;
  text-align: left;
}

ol > li {
  margin-bottom: 20px;
}

/* Federated Login */
.federated-logins {
  margin-top: 20px;
}

.federated-logins button {
  height: 35px;;
  width: 185px;
  margin: 15px auto;
  font-weight: 400;
  /* color: slategrey */
  border: none;
  background: #fff;
}

/* Game Baord */
.card-content > * {
  text-align: center;
}

/* Progress Bar */
.progress-bar {
  background-color: #181A17;
  text-align: center;
}

#progress-bar-value {
  color: ghostwhite;
  background-color: #3F88C5;
  width: 1%;
  text-align: center;
  line-height: 40px;
}

/* Sidebar */
.collapsible-header > img {
  height: 5%;
  width: 5%;
  margin-right: 15px;
}

.collapsible-body {
  background-color: white;
}

/* Leaders */
.collapsible-body > span {
  display: block;
  text-align: center;
  margin: 15px auto;
}

/* Chat */
.trash-talk-chat {
  border: .1px solid lightgray;
  height: 200px;
  text-align: left;
  padding: 10px 4px;
  overflow: auto;
}

.chat {
  float: left;
}